<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxs.mapper.ArticleCommentLikeMapper">

    <resultMap id="BaseResultMap" type="com.cxs.model.ArticleCommentLike">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="commentId" column="comment_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="belongUserId" column="belong_user_id" jdbcType="VARCHAR"/>
            <result property="likeTime" column="like_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,comment_id,user_id,
        belong_user_id,like_time
    </sql>
</mapper>
