<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxs.mapper.ArticleDraftMapper">

    <resultMap id="BaseResultMap" type="com.cxs.model.ArticleDraft">
            <id property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="articleTitle" column="article_title" jdbcType="VARCHAR"/>
            <result property="articleAbstract" column="article_abstract" jdbcType="VARCHAR"/>
            <result property="articleCover" column="article_cover" jdbcType="VARCHAR"/>
            <result property="articleType" column="article_type" jdbcType="INTEGER"/>
            <result property="importance" column="importance" jdbcType="INTEGER"/>
            <result property="articleDetail" column="article_detail" jdbcType="VARCHAR"/>
            <result property="articleTags" column="article_tags" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,article_title,article_abstract,
        article_cover,article_type,article_detail,
        article_tags,create_time,update_time,importance
    </sql>
</mapper>
