<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxs.mapper.ArticleCommentMapper">

    <resultMap id="BaseResultMap" type="com.cxs.model.ArticleComment">
            <id property="commentId" column="comment_id" jdbcType="INTEGER"/>
            <result property="articleId" column="article_id" jdbcType="INTEGER"/>
            <result property="commentContent" column="comment_content" jdbcType="VARCHAR"/>
            <result property="commentFrom" column="comment_from" jdbcType="VARCHAR"/>
            <result property="commentTo" column="comment_to" jdbcType="VARCHAR"/>
            <result property="parentCommentId" column="parent_comment_id" jdbcType="INTEGER"/>
            <result property="commentTime" column="comment_time" jdbcType="TIMESTAMP"/>
            <result property="commentEssence" column="comment_essence" jdbcType="TINYINT"/>
            <result property="top" column="top" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        comment_id,article_id,comment_content,
        comment_from,comment_to,parent_comment_id,
        comment_time,comment_essence,top
    </sql>
</mapper>
