<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxs.mapper.ExternalLinkMapper">

    <resultMap id="BaseResultMap" type="com.cxs.model.ExternalLink">
            <id property="externalLinkId" column="external_link_id" jdbcType="INTEGER"/>
            <result property="externalLinkName" column="external_link_name" jdbcType="VARCHAR"/>
            <result property="externalLinkLink" column="external_link_link" jdbcType="VARCHAR"/>
            <result property="externalLinkIcon" column="external_link_icon" jdbcType="VARCHAR"/>
            <result property="externalLinkBlank" column="external_link_blank" jdbcType="VARCHAR"/>
            <result property="externalLinkStatus" column="external_link_status" jdbcType="TINYINT"/>
            <result property="externalLinkUserId" column="external_link_user_id" jdbcType="VARCHAR"/>
            <result property="externalLinkDesc" column="external_link_desc" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        external_link_id,external_link_name,external_link_link,
        external_link_icon,external_link_blank,external_link_status,
        external_link_user_id,external_link_desc,create_time,
        update_time
    </sql>
</mapper>
