<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxs.mapper.FeedbackMapper">

    <resultMap id="BaseResultMap" type="com.cxs.model.Feedback">
            <id property="feedbackId" column="feedback_id" jdbcType="INTEGER"/>
            <result property="feedbackType" column="feedback_type" jdbcType="VARCHAR"/>
            <result property="feedbackContent" column="feedback_content" jdbcType="VARCHAR"/>
            <result property="feedbackImages" column="feedback_images" jdbcType="VARCHAR"/>
            <result property="feedbackStatus" column="feedback_status" jdbcType="TINYINT"/>
            <result property="feedbackUser" column="feedback_user" jdbcType="VARCHAR"/>
            <result property="feedbackEmail" column="feedback_email" jdbcType="VARCHAR"/>
            <result property="feedbackTime" column="feedback_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        feedback_id,feedback_type,feedback_content,
        feedback_images,feedback_status,feedback_user,
        feedback_email,feedback_time
    </sql>
</mapper>
