<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxs.mapper.ScheduledMapper">

    <resultMap id="BaseResultMap" type="com.cxs.model.Scheduled">
            <id property="taskId" column="task_id" jdbcType="INTEGER"/>
            <result property="taskKey" column="task_key" jdbcType="VARCHAR"/>
            <result property="taskName" column="task_name" jdbcType="VARCHAR"/>
            <result property="taskCron" column="task_cron" jdbcType="VARCHAR"/>
            <result property="taskStatus" column="task_status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        task_id,task_key,task_name,
        task_cron,task_status,create_time,
        update_time
    </sql>
</mapper>
