<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxs.mapper.TagMapper">

    <resultMap id="BaseResultMap" type="com.cxs.model.Tag">
            <id property="tagId" column="tag_id" jdbcType="INTEGER"/>
            <result property="tagName" column="tag_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        tag_id,tag_name,create_time
    </sql>
    <select id="selectTagListByArticleId" resultType="com.cxs.model.Tag">
        select t.* from t_tag t
        where t.tag_id in (
            select tag_id from t_article_tag tat where tat.article_id = #{articleId}
        )
    </select>
</mapper>
